# clean energy generation file

In [2]:
import pandas as pd

In [3]:
df= pd.read_csv(r"C:\Users\kaavy\OneDrive\Documents\Sci4GA Internship\GA_Generation_with_Location_By_Year.csv")

In [ ]:

# Drop rows where 'fuel2002' is not 'ALL' but 'primeMover' is 'ALL' to get rid of duplicate entries
df1 = df.drop(df[(df['fuel2002'] != 'ALL') & (df['primeMover'] == 'ALL')].index)

# Display the updated DataFrame
df1.head()

,period,plantCode,plantName,fuel2002,fuelTypeDescription,state,stateDescription,primeMover,generation,gross-generation,generation-units,gross-generation-units,Year,Latitude,Longitude
0,2014-01-01,7191,Tallassee Hydro Project,WAT,Hydroelectric Conventional,GA,Georgia,HY,890.09,898.95,megawatthours,megawatthours,2014,33.989153,-83.498448
1,2014-01-01,724,Terrora,WAT,Hydroelectric Conventional,GA,Georgia,HY,5236.19,5268.31,megawatthours,megawatthours,2014,34.750400,-83.406300
3,2014-01-01,724,Terrora,ALL,Total,GA,Georgia,ALL,5236.19,5268.31,megawatthours,megawatthours,2014,34.750400,-83.406300
4,2014-01-01,723,Tallulah Falls,WAT,Hydroelectric Conventional,GA,Georgia,HY,17667.39,17735.25,megawatthours,megawatthours,2014,34.731332,-83.375475
6,2014-01-01,723,Tallulah Falls,ALL,Total,GA,Georgia,ALL,17667.39,17735.25,megawatthours,megawatthours,2014,34.731332,-83.375475

In [5]:
# Group by 'plantName', 'Year', and 'fuelTypeDescription' and aggregate the 'generation' and 'gross-generation'
# Keep the 'Latitude' and 'Longitude' columns
aggregated_df = df1.groupby(['plantName', 'Year', 'fuelTypeDescription', 'Latitude', 'Longitude']).agg({
    'generation': 'sum',
    'gross-generation': 'sum'
}).reset_index()


# Display the aggregated DataFrame
aggregated_df.head()

,plantName,Year,fuelTypeDescription,Latitude,Longitude,generation,gross-generation
0,191 Peachtree Tower,2014,Distillate Fuel Oil,33.7583,-84.3869,0.0,0.0
1,191 Peachtree Tower,2014,Total,33.7583,-84.3869,0.0,0.0
2,191 Peachtree Tower,2015,Distillate Fuel Oil,33.7583,-84.3869,0.0,0.0
3,191 Peachtree Tower,2015,Total,33.7583,-84.3869,0.0,0.0
4,191 Peachtree Tower,2016,Distillate Fuel Oil,33.7583,-84.3869,0.0,0.0

In [6]:
pivot_df = aggregated_df.pivot_table(
    index=['plantName', 'Year', 'Latitude', 'Longitude'],
    columns='fuelTypeDescription',
    values='gross-generation',
    aggfunc='sum'
).reset_index()

# Display the pivoted DataFrame
pivot_df.head()

fuelTypeDescription,plantName,Year,Latitude,Longitude,Coal,Distillate Fuel Oil,Hydroelectric Conventional,Hydroelectric Pumped Storage,Municiapl Landfill Gas,Natural Gas,Nuclear,Other,Petroleum Coke,Residual Fuel Oil,Solar,Total,Waste Oil and Other Oils,Wood Waste Solids,other renewables
0,191 Peachtree Tower,2014,33.7583,-84.3869,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
1,191 Peachtree Tower,2015,33.7583,-84.3869,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
2,191 Peachtree Tower,2016,33.7583,-84.3869,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
3,191 Peachtree Tower,2017,33.7583,-84.3869,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
4,191 Peachtree Tower,2018,33.7583,-84.3869,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN

In [7]:
pivot_df.fillna(0, inplace=True)

# Display the updated DataFrame
pivot_df.head()

fuelTypeDescription,plantName,Year,Latitude,Longitude,Coal,Distillate Fuel Oil,Hydroelectric Conventional,Hydroelectric Pumped Storage,Municiapl Landfill Gas,Natural Gas,Nuclear,Other,Petroleum Coke,Residual Fuel Oil,Solar,Total,Waste Oil and Other Oils,Wood Waste Solids,other renewables
0,191 Peachtree Tower,2014,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,191 Peachtree Tower,2015,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,191 Peachtree Tower,2016,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,191 Peachtree Tower,2017,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,191 Peachtree Tower,2018,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
pivot_df.columns

Index(['plantName', 'Year', 'Latitude', 'Longitude', 'Coal',
       'Distillate Fuel Oil', 'Hydroelectric Conventional',
       'Hydroelectric Pumped Storage', 'Municiapl Landfill Gas', 'Natural Gas',
       'Nuclear', 'Other', 'Petroleum Coke', 'Residual Fuel Oil', 'Solar',
       'Total', 'Waste Oil and Other Oils', 'Wood Waste Solids',
       'other renewables'],
      dtype='object', name='fuelTypeDescription')

In [9]:
# List of columns to calculate percentage for
fuel_columns = ['Distillate Fuel Oil', 'Hydroelectric Conventional', 'Hydroelectric Pumped Storage', 
                'Municiapl Landfill Gas', 'Natural Gas', 'Nuclear', 'Other', 'Petroleum Coke', 
                'Residual Fuel Oil', 'Solar', 'Waste Oil and Other Oils', 'Wood Waste Solids', 
                'other renewables']

# Calculate percentage for each column
for column in fuel_columns:
    pivot_df[column + ' Percentage'] = (pivot_df[column] / pivot_df['Total']) * 100

# Display the updated DataFrame
pivot_df.head()

fuelTypeDescription,plantName,Year,Latitude,Longitude,Coal,Distillate Fuel Oil,Hydroelectric Conventional,Hydroelectric Pumped Storage,Municiapl Landfill Gas,Natural Gas,...,Municiapl Landfill Gas Percentage,Natural Gas Percentage,Nuclear Percentage,Other Percentage,Petroleum Coke Percentage,Residual Fuel Oil Percentage,Solar Percentage,Waste Oil and Other Oils Percentage,Wood Waste Solids Percentage,other renewables Percentage
0,191 Peachtree Tower,2014,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,191 Peachtree Tower,2015,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,191 Peachtree Tower,2016,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,191 Peachtree Tower,2017,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,191 Peachtree Tower,2018,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
missing_values_df = pivot_df[pivot_df.isnull().any(axis=1)]
missing_values_df.head()

fuelTypeDescription,plantName,Year,Latitude,Longitude,Coal,Distillate Fuel Oil,Hydroelectric Conventional,Hydroelectric Pumped Storage,Municiapl Landfill Gas,Natural Gas,...,Municiapl Landfill Gas Percentage,Natural Gas Percentage,Nuclear Percentage,Other Percentage,Petroleum Coke Percentage,Residual Fuel Oil Percentage,Solar Percentage,Waste Oil and Other Oils Percentage,Wood Waste Solids Percentage,other renewables Percentage
0,191 Peachtree Tower,2014,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,191 Peachtree Tower,2015,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,191 Peachtree Tower,2016,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,191 Peachtree Tower,2017,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,191 Peachtree Tower,2018,33.7583,-84.3869,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
unique_plant_names = missing_values_df['plantName'].unique()
print(unique_plant_names)

['191 Peachtree Tower' 'Albany Brewery' 'Allatoona'
 'Athens Regional Medical Center' 'Atlanta Gift Mart LP'
 'Bank of America Plaza' 'Cedartown Battery Energy Storage Project'
 'Crisp Plant' 'Georgia Pacific Center' 'Hewlett Packard Alpharetta'
 'Hewlett Packard Enterprise' 'Hickory Ridge Landfill Solar Project'
 'High Shoals Hydro (GA)' 'Inforum'
 'Inst and Envir Dir Marine Logistics Base' 'Kamin LLC Wrens Plant'
 'King Mill' 'Kraft' 'Laredo Bus Facility Solar Canopies' 'Mitchell (GA)'
 'Pinova Inc.' 'SR DeSoto II' 'SR DeSoto III' 'Shepherd Center'
 'Solar Glynn' 'South Columbus Water Resource Facility'
 'South Georgia Medical Center' 'South Georgia Medical Center Inc'
 'State Farm Support Center East' 'Tech Square Microgrid'
 'Thiele Kaolin Reedy Creek' 'Thiele Kaolin Sandersville'
 'Valdosta Water Treatment Plant' 'Walton Bainbridge Power Facility'
 'Wansley' 'YKK USA Chestney']

In [12]:
pivot_df.dropna(inplace=True)

# Display the updated DataFrame
pivot_df.head()

fuelTypeDescription,plantName,Year,Latitude,Longitude,Coal,Distillate Fuel Oil,Hydroelectric Conventional,Hydroelectric Pumped Storage,Municiapl Landfill Gas,Natural Gas,...,Municiapl Landfill Gas Percentage,Natural Gas Percentage,Nuclear Percentage,Other Percentage,Petroleum Coke Percentage,Residual Fuel Oil Percentage,Solar Percentage,Waste Oil and Other Oils Percentage,Wood Waste Solids Percentage,other renewables Percentage
10,ADS Renewable Energy-Wolf Creek LLC,2015,32.7755,-83.4348,0.0,0.0,0.0,0.0,21672.99,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,ADS Renewable Energy-Wolf Creek LLC,2016,32.7755,-83.4348,0.0,0.0,0.0,0.0,21210.94,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,ADS Renewable Energy-Wolf Creek LLC,2017,32.7755,-83.4348,0.0,0.0,0.0,0.0,19626.01,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,ADS Renewable Energy-Wolf Creek LLC,2018,32.7755,-83.4348,0.0,0.0,0.0,0.0,22557.45,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,ADS Renewable Energy-Wolf Creek LLC,2019,32.7755,-83.4348,0.0,0.0,0.0,0.0,20935.55,0.0,...,100.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
cleaned_energy_generation_data_year = pivot_df.copy()

In [14]:
cleaned_energy_generation_data_year.to_csv('cleaned_energy_generation_data_year.csv', index=False)

In [15]:
# Get unique years from the DataFrame
unique_years = cleaned_energy_generation_data_year['Year'].unique()

# Loop through each year and create a separate DataFrame
for year in unique_years:
    # Filter the DataFrame for the current year
    df_year = cleaned_energy_generation_data_year[cleaned_energy_generation_data_year['Year'] == year]
    
    # Save the DataFrame to a CSV file
    df_year.to_csv(f'cleaned_energy_generation_data_{year}.csv', index=False)

# Some minor analysis

In [1]:
import pandas as pd

In [3]:
gen14 = pd.read_csv('cleaned_energy_generation_data_2014.csv')
gen15 = pd.read_csv('cleaned_energy_generation_data_2015.csv')
gen16 = pd.read_csv('cleaned_energy_generation_data_2016.csv')
gen17 = pd.read_csv('cleaned_energy_generation_data_2017.csv')
gen18 = pd.read_csv('cleaned_energy_generation_data_2018.csv')
gen19 = pd.read_csv('cleaned_energy_generation_data_2019.csv')
gen20 = pd.read_csv('cleaned_energy_generation_data_2020.csv')
gen21 = pd.read_csv('cleaned_energy_generation_data_2021.csv')
gen22 = pd.read_csv('cleaned_energy_generation_data_2022.csv')
gen23 = pd.read_csv('cleaned_energy_generation_data_2023.csv')

In [8]:
fuel_columns = ['Coal', 'Distillate Fuel Oil', 'Hydroelectric Conventional', 'Hydroelectric Pumped Storage', 
                'Municiapl Landfill Gas', 'Natural Gas', 'Nuclear', 'Other', 'Petroleum Coke', 
                'Residual Fuel Oil', 'Solar', 'Waste Oil and Other Oils', 'Wood Waste Solids', 
                'other renewables', 'Total']

# List of DataFrames
dataframes = [gen14, gen15, gen16, gen17,gen18, gen19, gen20, gen21, gen22, gen23]

# Dictionary to store total sums for each year
yearly_totals = {}

# Sum up the fuel columns for each DataFrame and store in the dictionary
for df in dataframes:
    year = df['Year'].iloc[0]
    total_fuel_sums = {column: df[column].sum() for column in fuel_columns}
    yearly_totals[year] = total_fuel_sums

# Convert the dictionary to a DataFrame
yearly_totals_df = pd.DataFrame(yearly_totals).T
# Display the DataFrame
print(yearly_totals_df)

             Coal  Distillate Fuel Oil  Hydroelectric Conventional  \
2014  49981696.04            170823.95                  2975366.40
2015  38744001.10            148734.58                  2938292.59
2016  43334292.55            101646.39                  2674348.42
2017  38427132.68            119277.49                  2348968.92
2018  33991801.91            268442.90                  3787442.60
2019  29781157.08            102644.75                  3998614.09
2020  14735579.06            121252.08                  4504380.08
2021  21602706.23             94275.73                  3686313.30
2022  18060609.63            217645.93                  3029661.85
2023  20271455.96             57987.84                  2855740.00

      Hydroelectric Pumped Storage  Municiapl Landfill Gas  Natural Gas  \
2014                     2006072.0               194649.88  42488006.12
2015                     2339040.0               203878.97  50799618.89
2016                     2246811.0               225038.53  52715826.71
2017                     2126833.0               332676.77  54462958.44
2018                     2508144.0               363653.86  51153001.33
2019                     2490700.0               319988.19  60460359.28
2020                     2230772.0               307284.56  60643634.26
2021                     1931677.0               300494.86  56489160.92
2022                     1895162.0               250410.46  60201508.92
2023                     1900934.0               311729.65  67070237.68

         Nuclear      Other  Petroleum Coke  Residual Fuel Oil       Solar  \
2014  33511032.0   70482.42       174997.62           37374.21   114783.77
2015  35370460.0  144941.37       198854.20           33776.09   124320.08
2016  36170310.0  132263.51       143326.48           23602.46   893683.36
2017  35599356.0  115887.69       212671.78           52075.78  2020770.22
2018  42270102.0   88816.12       199358.68           57819.46  2099435.48
2019  37028647.0  105790.53       207369.09           22483.43  2225264.94
2020  33601655.0  105990.75       191800.65           20204.42  3983075.47
2021  35456154.0  110529.92       144693.10           35016.38  4921680.22
2022  34269940.0  103248.82       165729.95          186264.42  7061997.20
2023  41924479.0  153865.63        89534.46          123864.47  7738164.00

      Waste Oil and Other Oils  Wood Waste Solids  other renewables  \
2014                    304.53         4155100.62         240760.69
2015                    449.51         4771032.05         179346.07
2016                    594.68         5023428.97          77801.95
2017                    694.18         4956860.50          47251.04
2018                   1311.02         4704283.96          37731.04
2019                   1537.68         5184860.15          39860.44
2020                    215.75         5883244.19          40469.00
2021                    384.91         5878310.06          41649.21
2022                   3060.17         5859609.04          33050.03
2023                    515.58         5410976.66          25752.38

             Total
2014  1.378492e+08
2015  1.359928e+08
2016  1.443991e+08
2017  1.408489e+08
2018  1.415512e+08
2019  1.420976e+08
2020  1.263878e+08
2021  1.308895e+08
2022  1.310405e+08
2023  1.488336e+08

In [11]:
yearly_totals_df.to_csv('yearly_totals.csv', index=True)